{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block tit_trian %}{% trans "The best pizzas at the best price" %}{% endblock %}
{% block subtit_trian %}{% trans "Pizzas of all flavors for all tastes" %}{% endblock %}

{% block content %} <!--Este trozo pertenece a la plantilla principal y se posiciona en el content-->

<div class="tm-section tm-section-pad tm-bg-gray" id="tm-section-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="tm-article-carousel">
          <article class="tm-bg-white mr-2 tm-carousel-item">
            {% block mainImg %}{% endblock %} <!--Detalla la imagen en particular del objeto-->
            <div class="tm-article-pad">
              <header>
                <h3 class="text-uppercase tm-article-title-2">{% block nombre %}{% endblock %}</h3> <!--Detalla el nombre del objeto-->
              </header>
              <ul>
                {% block attrbItems %} <!--Detalla la estructura de articulo del detalle de objeto-->
                {% endblock %}
              </ul>
            </div>
          </article>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-recommended-container">
        <div class="tm-bg-white">
          <div class="tm-bg-primary tm-sidebar-pad">
            <h3 class="tm-color-white tm-sidebar-title">{% trans "List" %} {% block relLista %}{% endblock %}</h3>
            <p class="tm-color-white tm-margin-b-0 tm-font-light">{% block relListaDesc %}{% endblock %}</p>
          </div>
          <div class="tm-sidebar-pad-2">
              {% block listaItems %} <!--Detalla los objetos relacionados con el actual-->
              {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
